$color-white: #eff0f3;
$color-red: #74030e;
$color-green: #132601;

$color-bg-section: #504533;
$color-bg-footer: #201b13;

$font-base: 10px;

$grid-base: $font-base;

$gutter: 1.5 * $grid-base;

$bp-md: 178px;
$bg-lg: 1028px;
